@import './nullStyle';

body {
  background: #010832;

  font-family: 'Nunito', sans-serif;
  color: #fff;
  position: relative;
}

//body,
//#root {
//  overflow: hidden;
//}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
}
