.mainPage {
  .box_mainPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    align-self: center;
    align-items: start;
    @media (max-width: 1150px) {
      & {
        grid-template-columns: 1fr;
      }
    }
  }
}
