.form {
  backdrop-filter: blur(12px) saturate(200%);
  -webkit-backdrop-filter: blur(12px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 50px 40px;
  min-width: 350px;
  max-width: 400px;
  p {
    text-align: center;
    font-size: 16px;
    color: #676767;
    span {
      font-size: 17px;
      font-weight: bold;
      color: #3d3d3d;
    }
  }
}
