.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 998;
  transition: all 0.3s;
  .bg_Modal {
    background-color: rgba(21, 12, 12, 0.39);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .wrapper_modal {
    width: 400px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10%);
    padding: 2rem;
    backdrop-filter: blur(12px) saturate(200%);
    -webkit-backdrop-filter: blur(12px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.51);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  .modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    h3 {
      font-size: 20px;
    }
  }
  .modal_close {
    color: #aaa;
  }

}

.modal_open {
  visibility: visible;
  opacity: 1;
}
